[Desktop Entry]
Name=Monitor new hardware drivers
Comment=Notify about new hardware drivers available for the system
Comment[ar]=أخبرني حول التعريفات الجديدة للعتاد والمتوفرة للنظام
Comment[ast]=Notificar cuando esistan nuevos controladores disponibles pal sistema
Comment[be]=Паведамляць пра новыя даступныя драйверы
Comment[bg]=Уведомяване за нови достъпни драйвери за хардуер за тази система
Comment[bo]=སྲ་སྡེར་ལ་སྒུལ་གཏོང་གསར་བ་ཡོད་དུས་གསལ་འདེབས་བྱེད་པ
Comment[ca]=Notifica quan hi hagi controladors de maquinari nous per al sistema
Comment[ca@valencia]=Notifica quan hi haja controladors de maquinari nous per al sistema
Comment[cs]=Upozornit na nové ovladače hardwaru dostupné pro tento systém
Comment[da]=Giv besked om nye hardwaredrivere, som er tilgængelige til systemet
Comment[de]=Über neue oder aktualisierte Treiber für Ihre Hardware benachrichtigen
Comment[el]=Ειδοποίηση για νέους διαθέσιμους οδηγούς υλικού για το σύστημα
Comment[en_AU]=Notify about new hardware drivers available for the system
Comment[en_CA]=Notify about new hardware drivers available for the system
Comment[en_GB]=Notify about new hardware drivers available for the system
Comment[es]=Notificar cuando existan nuevos controladores disponibles para el sistema
Comment[et]=Sellele arvutile saadaolevatest uutest draiveritest antakse märku
Comment[eu]=Sistemarentzako eskuragarri dauden hardware-kontrolatzaileen berri eman
Comment[fi]=Ilmoita saatavilla olevista uusista järjestelmän laiteajureista
Comment[fr]=Avertir de la disponibilité de nouveaux pilotes pour le système
Comment[gl]=Notificar sobre os controladores de hardware novos dispoñíbeis para o sistema
Comment[he]=שליחת הודעה אודות מנהלי התקנים חדשים הזמינים עבור המערכת
Comment[hr]=Obavijesti o dostupnosti novih upravljačkih programa za sustav
Comment[hu]=Értesítés az elérhető új hardver-illesztőprogramokról
Comment[it]=Notifica quando sono disponibili nuovi driver hardware per il sistema
Comment[ja]=システム向けの新しいハードウェアドライバーを通知する
Comment[km]=ជូនដំណឹង​អំពីកម្មវិធីបញ្ជាផ្នែករឹង​ថ្មីៗ​ដែល​មាន សម្រាប់​ប្រព័ន្ធ
Comment[ko]=이 시스템을 위한 이용가능한 새로운 하드웨어 드라이버들을 알림
Comment[lt]=Pranešti apie naujas aparatinės įrangos valdykles, tinkančias šiam kompiuteriui
Comment[lv]=Informēt par jauniem aparatūras draiveriem, kas pieejami sistēmai
Comment[my]=Notify about new hardware drivers available for the system
Comment[nl]=Melding geven wanneer er nieuwe stuurprogramma's beschikbaar zijn
Comment[oc]=Avisar de la disponibilitat de pilòts novèls disponibles pel sistèma
Comment[pl]=Informowanie o dostępności nowych sterowników sprzętowych dla systemu
Comment[pt_BR]=Notificar sobre novos drivers disponíveis para o sistema
Comment[ro]=Atenționează despre drivere hardware noi disponibile pentru sistem
Comment[ru]=Уведомлять о новых доступных драйверах
Comment[sk]=Upozorňovať na dostupnosť nových ovládačov hardvéru pre systém
Comment[sl]=Obvesti me o novih gonilnikih strojne opreme za sistem
Comment[sr]=Даје обавештења о новим доступним управљачким програмима за овај систем
Comment[sv]=Notifiera om nya maskinvarudrivrutiner som är tillgängliga för systemet
Comment[te]=వ్యవస్థ కోసం కొత్త హార్డువేర్ డ్రైవర్లు అందుబాటులో ఉన్నపుడు తెలియజేయి
Comment[th]=แจ้งเตือนเมื่อมีไดรเวอร์ใหม่ของฮาร์ดแวร์ที่สามารถใช้ได้กับระบบ
Comment[tr]=Sistem için kullanılabilir olan yeni donanım sürücülerini bildir
Comment[uk]=Повідомляти про нові доступні драйвери
Comment[zh_CN]=系统有新的硬件驱动时提示
Comment[zh_HK]=通知有無可供此系統使用的新硬體驅動程式
Comment[zh_TW]=通知有無可供此系統使用的新硬體驅動程式
Icon=jockey
Exec=sh -c "exec jockey-device-monitor"
Terminal=false
Type=Application
Categories=System;Settings;GTK;HardwareSettings;
X-Ubuntu-Gettext-Domain=jockey
X-GNOME-Autostart-Delay=60
NoDisplay=true
