[D-BUS Service]
Name=com.ubuntu.DeviceDriver
Exec=/bin/sh -c '. /etc/environment; export http_proxy https_proxy ftp_proxy; exec /usr/bin/jockey-backend --timeout 300 -l /var/log/jockey.log'
User=root
